
/* Круг с точками */
.circle-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.timeline-circle {
  width: 530px;
  height: 530px;
  border: 1px solid var(--spinner-color);
  border-radius: 50%;
  position: relative;
  transform-origin: center center;
}

/* Точки */
.circle-point {
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  

  &::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: var(--font-main-color);
    border-radius: 50%;
    opacity: 0.3;
    transition: all 0.3s ease;
    z-index: 1;
  }
  

  .circle-point__inner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    // background: white;
    border: 1px solid var(--circle-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    transform-origin: center center;
    --point-scale: 0; 
    transform: scale(var(--point-scale)) rotate(0deg);
    transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  }
  
  /* Цифра в круге */
  .circle-point__number {
    font-size: 20px;
    color: var(--font-main-color);
    transform-origin: center center;
  }
  
 
  &:hover {
    &::before {
      opacity: 0;
    }
    
    .circle-point__inner {
      --point-scale: 1;
      border-color: var(--font-range-start-color);
    }
  }
  
 
  &.active {
    &::before {
      opacity: 0;
    }
    
    .circle-point__inner {
      --point-scale: 1;
      // background: var(--font-range-start-color);
      // border-color: var(--font-range-start-color);
      
      .circle-point__number {
        color: rgb(12, 11, 11);
      }
    }
  }
}


.circle-titles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 3;
}


.circle-title {
  position: absolute;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  white-space: nowrap;
  color: #42567A;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  background: white;
  padding: 6px 12px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  min-width: 140px;
  text-align: center;
  justify-content: center;
  transform-origin: center center;
  
  &.active {
    opacity: 1;
    visibility: visible;
  }
}


@media (max-width: 1024px) {
  .timeline-circle {
    width: 400px;
    height: 400px;
  }
  
  .circle-title {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .circle-container {
    display: none;
  }
}


.historic-dates__center {
  position: relative;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background: var(--line-color);
    transform: translateX(-50%);
    z-index: 1;
  }
  
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    background: var(--line-color);
    transform: translateY(-50%);
    z-index: 1;
  }
}


